.youselected{
    position: fixed;
    top: 25%;
    left: 0;
    width: 273px;
    height: 100%;
    border-radius: 50px;
background: #e0e0e0;
box-shadow: inset 27px 27px 55px #bebebe,
            inset -27px -27px 55px #ffffff;
}
.youhead {
    color: #202121;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875rem;
        font-weight: bolder;
        position: fixed;
        top: 27%;
        margin-left: 2.188rem;
}

.onetick {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875rem;
    color: #202121;
    position: relative;
    top: 25%;
    margin-left: 10.938rem;
}
.twotick {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875rem;
    color: #202121;
    position: relative;
    top: 25%;
    margin-left: 19.688rem;
}

.racelogo{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 15%;
    left: 38%;
}
.relaylogo{
    width: 70px;
    height: 50px;
    position:fixed;
    top: 15%;
    left: 46%;
}
.longjumplogo{
    width: 50px;
    height: 50px;
    position:fixed;
    top: 15%;
    left: 55%;
}
.highjumplogo{
    width: 70px;
    height: 50px;
    position:fixed;
    top: 15%;
    left: 63%;
}
.footballlogo{
    width: 50px;
    height: 50px;
    position:fixed;
    top: 15%;
    left: 71%;
}
.basketballlogo{
    width: 50px;
    height: 50px;
    position:fixed;
    top: 15%;
    left: 79%;
}
#zoom{
    transform: scale(.8);
    transition: .4s;
}
#zoom:hover{
    transform: scale(1);
}

.line{
    width: 80%;
    height: 2px;
    background: #202121;
    position:fixed;
    top: 25%;
    right: 0;
}

.logotext{
        color: #202121;
        position: fixed;
        top: 4%;
        left: 5.5%;
        font-family: 'Rufina', serif;
    }

    .logo{
        width: 80px;
        height: 50px;
        position: fixed;
        top: 5%;
        left: 0.5%;
        filter: contrast(0%) brightness(30%);
    }

    body{
        scroll-behavior: smooth; 
        background: #e0e0e0; 
    }
